/*MAIN productos*/
main{
    #BorderMain {
background-color: $color-primarioB;
}
.card-body{
    background-color: #f4f8fc;
}
.TituloProdts{
    font-weight: bold;
    font-family: "Signika Negative", sans-serif;
    text-align: center;
    color: $color-TitulosSecciones;
    text-decoration: none;
}
.card-textP1, .card-textP3, .card-textP4, .card-textP5{
    padding-left: 5%;
}
.bg-lightblue {
    background-color: $color-primarioB;
}
.card-header-tabs {
padding-left: 43%;
font-size: 25px;
}
}
@media (max-width: 992px){
    #BorderMain{
        background-color: rgba(204, 225, 238, 0.938);
        border: solid rgba(0, 0, 0, 0.945) 1px;
        margin-bottom: 10%;
    }
    .card-textP {
    font-size: 12px;
    text-align: justify;
    }
    .card-textP5{
    font-size: 18px;
    }
    #CardPrdts{
    margin: 5%;
    }
    .Redes{
    width: 7%;
    height: 7%;
    }
    .card-textP3{
    font-size: 15px;
    }
    .card-img-top{
    padding-left: 25%;
    width: 75%;
    height: 75%;
    }
    .card-header-tabs {
    padding-left: 20%;
    }
}
