$color-primario: rgba(20, 177, 240, 0.767);
$color-primarioB: rgb(255, 255, 255);
$color-Textos: rgb(0, 0, 0);
$color-navegador: rgb(41, 175, 209);
$color-border: rgba(5, 5, 0, 0.753);
$color-TitulosSecciones: rgb(49, 48, 48);
$color-card: #ffffff;
$color-nav-Prod: rgb(0, 217, 255);
$color-footer: rgba(255, 255, 0, 0.842);