$color-primario: rgba(255, 255, 255, 0.829);
$color-primarioB: rgb(255, 255, 255);
$color-Textos: rgb(108, 194, 10);
$color-navegador: rgba(176, 214, 240, 0.507);
$color-border: rgba(92, 91, 40, 0.753);
$color-TitulosSecciones: rgb(15, 85, 102);
$color-card: black;
$color-card2: rgba(238, 255, 2, 0.596);
$color-amarilloOpaco: rgba(255, 255, 0, 0.459);
$font-weight: bold;
/*HeaderGral.*/
$navbar-light-color: rgba(176, 214, 240, 0.507);
$navbar-brand-font-size: 1.5rem;
$navbar-padding-x: 25%;
$navbar-brand-padding-x: 15%;
$border: solid rgba(6, 72, 88, 0.527)1px

