$color-primario: rgb(0, 119, 255);
$color-primarioB: rgba(255, 255, 255, 0.938);
$color-Textos: rgb(0, 44, 110);
$color-navegador: rgba(0, 129, 250, 0.863);
$color-border: rgba(92, 91, 40, 0.753);
$color-TitulosSecciones: rgb(49, 48, 48);
$color-card: #fffb00;