@import 'variable';
@import 'Contacto';
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Magra&family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,200&family=Patrick+Hand&family=Patrick+Hand+SC&display=swap');

body{
    background-image: url("../Imagenes/General/Body.JPG");
    font-family: 'Magra', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Patrick Hand SC', cursive;
    font-family: 'Patrick Hand', cursive;
}

    header{
        .navbar-light{
            background-color: $navbar-light-color;
            border: $color-TitulosSecciones;
            font-family: 'Magra', sans-serif;
            
        }
        .navbar-brand {
            font-size: $navbar-brand-font-size;
            padding-left: $navbar-padding-x ;
            text-align: center;
        }
    }
    main .Home {
        .Bienvenidos {
            padding-top: 1%;
        }
        .BoxText, #BoxText{
            background-color: $color-card2;
            background-image:linear-gradient(to right, $color-primario, $color-card2, $color-card2, $color-primario) ;
        }
        .HomeImg9{
            width: 550px ;
            height: 400px ;
        }
        .CardResumen {
            text-align: center;
            font-size: 25px;
            border: none;
            border-radius: 0;
            background-color: $color-card2
        }
        .CardTitleSize{
            font-size: 28px;
        }
    }
    hr{
        border: $border;
    }
    footer{
        .Celda2, .Celda1 {
            font-size: 16px;
        }
        .Celda3{
             padding-top: 3%;
           form {
        background-color: $color-navegador;
        padding-bottom: 2%;
           }  
       }
    }
     /*Main Productos*/
    #MainProductos{
        .card-textP1, .TituloProduct {
            font-weight: bold;
            font-family: "Signika Negative", sans-serif;
            text-align: center;
            text-decoration: none;
            color: black;
            }
    #BorderMain {
        background-color: $color-card2;
    }
    .card-body {
        background-color: $color-card2;
    }
    .bg-lightblue {
        background-color: $color-card2;
    }
    .card-header-tabs {
        font-size: 30px;
    }
}
    .SizeImg{
        height: 350px;
        width: 300px;
        padding-left: 5%;
        margin-left: 19%;
    }
    .ColorCard{
        background-color: $color-primario;
    }
    .card-textP2{
        font-size: 21px;
    }
    .card-textP3, .card-textP4{
        font-size: 20px;
    }
        /*Letra en secciones QS, PF y TyC*/
    main{
        .FontSize{
            font-size: 20px;
            padding-left: 20%;
            padding-right: 20%;
            list-style-type: none;
            font-family: 'Magra', sans-serif;
            color: $color-card;
        }
    }
        /*Contacto*/
    .FormMain{
        background-color: $color-navegador;
    }
    .FontSizeContacto{
        font-size: 20px;
        font-family: 'Magra', sans-serif;
    }
@media (max-width: 992px) {
    header{
        .navbar-light{
         margin: 2%
        }
        #me-auto{
            padding: 0;
        }
        #BorderMenuDItem {
            border-top:$border;
        }
    }
    main .Home {
        .BoxText{
        font-size: 20px;
        background-image:linear-gradient(to right, $color-primario, $color-card2, $color-primario) ;
        } 
        .HomeImg2{
            width:377px ;
            height: 282.75px ;
        }
        .HomeImg5{
            width: 200px ;
            height: 200px ;
        }
        .HomeImg9{
            width:350px ;
            height: 250px ;
        }
        .TituloResumen {
            font-size: 35px;
        }
          
        .card-text {
            font-size: 25px;
            margin: 5%;
            text-align: center;
          }
          
        #colorRESUMEN {
            margin: 40px;
            padding-left: 5px;
          }
          
        .BoxText {
            margin: 3%;
            margin-top: 0.5%;
            padding: 30px;
            font-size: 25px;
        }
    }
    /*Productos*/
    .SizeImg{
        margin-left: 17%;
    }
    .card-textP1{
        font-size: 25px;
        }
        .card-textP2, .card-textP3, .card-textP4{
        font-size: 20px;
        }
    /*Letra en secciones QS, PF y TyC*/
    main{
        .FontSize{
            padding-left: 5%;
            padding-right: 5%;
            text-align: justify;
        }
        .FontSizeContacto {
            font-size: 20px;
        }
    footer{
        .Celda3{
            padding: 5%; 
            form{
                background-color: $color-navegador;
                border: $border;
                .height{
                  height: 50px;
               }
            }
        }  
    }
}
}