@import 'variable';
@import 'Home';
@import 'Productos';
@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500&family=Roboto:ital,wght@0,300;1,100&family=Shadows+Into+Light&family=Signika+Negative:wght@300&family=Source+Sans+Pro:wght@200;400&display=swap");
body {
    font-family: "Cabin Condensed", sans-serif;
    font-family: "Chathura", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    font-family: "Shadows Into Light", cursive;
    font-family: "Signika Negative", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    background-image: linear-gradient($color-primario, $color-primarioB, $color-primario);
}
header {
    .TamañoLogo{
    padding-top: 35px;
}
#BorderMenuD{
    padding-left: 50px;
    }
#BorderMenuDItem {
        padding-right:50px ;
        padding-left: 25x;
}
#BorderHeader {
    background-color: $color-navegador;

}
#BorderMenuD {
    font-family: sans-serif;
    color: $color-Textos;
    font-size:3%;
    text-align: center;
}
.BorderMenuD, .BorderMenuD2, .BorderMenuD3, .BorderMenuD4, .BorderMenuD5 {
    @extend #BorderMenuD
}
}
main{
    .Titulo{
        font-weight: bold;
        font-family: "Signika Negative", sans-serif;
        text-align: center;
        color: $color-TitulosSecciones;
        text-decoration: none;
    }
}
/*Footer*/
footer {
    .Celda2{
    border-left: solid $color-border;
}
    .NAVEGACION{
    font-weight: bold;
}
    form {
    border:solid $color-border 1px;
    margin: 2px;
    padding: 20px;
    background-color: $color-navegador;
}
    .Espaciado1{
    color: black;
}
     .FORMULARIO{
    line-height:1.2;
    font-weight: bold !important;
}
}

@media (max-width: 992px){
    .TamañoLogo{
        height: 50% ;
        width:50% ;
        padding-bottom: 1px;
    }
    #BorderMenuD {
        border-top: solid $color-border 1px;
        background-color: $color-navegador;
        padding-left: 1px;
        text-align: center;
    }
    .BorderMenuD, .BorderMenuD2, .BorderMenuD3, .BorderMenuD4, .BorderMenuD5 {
        @extend #BorderMenuD ;
    }
    /*FOOTER*/
    .Espaciado{
        line-height: 0.50;
    }
    .PB {
        padding-bottom: 5%;
    }
    
    .Celda1, .Celda2, .Celda3 {
        border-left: solid rgba(135, 210, 253, 0.945) 1px;
        font-size: small;
        padding-left: 12px;
    }
    .Celda26{ 
        line-height: 1.2;
    }
    .Redes {
        width: 15%;
        height: 15%;
    }
    .Celda3 {
        padding: 40px 30px;
    }
}


