$color-primario: rgb(238, 255, 0);
$color-primarioB: rgba(0, 153, 255, 0.938);
$color-Textos: black;
$color-navegador: rgba(243, 241, 105, 0.863);
$color-border: rgba(92, 91, 40, 0.753) 1px;
$color-TitulosSecciones: rgb(49, 48, 48);
$color-card: #f4f8fc;