@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500&family=Roboto:ital,wght@0,300;1,100&family=Shadows+Into+Light&family=Signika+Negative:wght@300&family=Source+Sans+Pro:wght@200;400&display=swap");

body {
    background-color: rgba(255, 255, 0, 0.945);
}
main{
    background-color: rgba(0, 153, 255, 0.938);
}
.TamañoLogo{
    padding-top: 35px;
}
#BorderMenuD{
    padding-left: 150px;
    }
#BorderMenuDItem {
        padding-right:50px ;
        padding-left: 25x;
}
#BorderHeader {
        background-color: rgba(243, 241, 105, 0.863);

}
#BorderMenuD, .BorderMenuD, .BorderMenuD2, .BorderMenuD3, .BorderMenuD4, .BorderMenuD5 {
    font-family: sans-serif;
    color: black;
    font-size:3%;
    text-align: center;
}
/*MainIndex*/
#BotonDerecho{
    text-align: right;
    margin-left: 75%;
}
.card-img {
    width: 420px;
    height: 350px;
}
div div img {
    width: 35%px;
    height: 40%px;
}
#BotonDerecho{
    font-size: 15px;
    margin-left: 70%;
}
.card-imgFondo{
    width: 500px;
    height: 360px;
}
.card-text{
    font-size: 20px;
    margin: 5%;
}
#colorRESUMEN {
margin: 40px;
padding-left: 5px;
}

.BoxText {
    margin: 3%;
    margin-top: 0.5%;
    padding: 30px;
}
/*Footer*/
.Celda2{
    border-left: solid rgba(92, 91, 40, 0.753) 1px;
}
.NAVEGACION{
    font-weight: bold;
}

@media (max-width: 992px){
    .TamañoLogo{
        height: 50% ;
        width:50% ;
        padding-bottom: 1px;
        
    }
    .ColorNavegador {
        background-color: yellowgreen;
    }
    #BorderMenu {
        
    }
    #BorderMenuD, .BorderMenuD, .BorderMenuD2, .BorderMenuD3, .BorderMenuD4, .BorderMenuD5 {
        border-top: solid rgba(92, 91, 40, 0.753) 1px;
        background-color: rgba(247, 243, 51, 0.753);
        padding-left: 1px;
        text-align: center;
    }
    /*MainIndex*/
    body {
     width: auto;
    }
    div div img {
        width: 85px;
        height: 95px;
    }
    .SuprimirImg {
        display: none;
    }
    #BotonDerecho{
        font-size: 12px;
        margin-left: 70%;
    }
    img.card-img {
        display: flex;
        width: 375px;
        height: 300px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 1px;
        margin: 0;
    }
    .card-imgFondo{
        width: 400px;
        height: 300px;
    }
    .card-text{
        font-size: 16px;
        margin: 5%;
        padding-top: 1%;
    }
    .card-title {
        padding-top: 5%;
    }
    #colorRESUMEN {
        background-color: rgba(0, 153, 255, 0.938);
        margin: 0;
        width: 400px;
        display: flex;
        margin-bottom: 0%;
    }
    div.card-img-overlay.card-body{
        width: 400px;
        height: 350px;
    }
   
    .main{
        width: 3000px;   
    } 
    /*FOOTER*/
    #Celda1a {
        font-size: 15px!important;
    }
    .Espaciado{
        line-height: 0.50;
    }
    .PB {
        padding-bottom: 5%;
    }
    
    .Celda1, .Celda2{
        border-left: solid rgba(255, 255, 0, 0.945) 1px;
        font-size: small;
        padding-left: 16px;
    }
}


